{% extends 'base.html' %}
{% block head %}


  <h1> Statistics</h1>
  {% if count_result %}
  <table>
    <tr>
    <td>Date</td>
    <td>Win</td>
    <td>Lose</td>
   <td> Draft</td>
  </tr>
  <tr>
    <td>{{day }}</td>
    <td>{{ count_result.win }}</td>
    <td>{{ count_result.lose }}</td>
    <td>{{ count_result.draft }}</td>
  </tr>
  </table>

  {% else %}
  <table>
  <tr>
    <td>Date</td>
    <td>Time</td>
    <td>result</td>
  </tr>
  {% for match in matches %}
    <tr>
      <td><a href="/statitics/{{ user_id }}/{{ match.date_start.strftime('%Y-%m-%d') }}" >{{ match.date_start.strftime('%Y-%m-%d') }}</a></td>
    <td>{{ match.time.strftime('%H:%M:%S') }}</td>
    <td>{{ match.result }}</td>
    </tr>
  {% endfor %}
  </table>
{% endif %}
{% endblock %}